* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
